# Aplicacion
APP_NOMBRE=Cachai
APP_ENTORNO=desarrollo
APP_DEBUG=true

# Base de datos
DATABASE_URL=postgresql+psycopg://cachai:cachai_local@localhost:5432/cachai

# Cache
REDIS_URL=redis://localhost:6379/0

# Seguridad
SECRET_KEY=qAKjaIkZB7W3rFCe0dItOyv21J0S9qPUx9DSux9pR7ZP3immMkfHis_dDZK8FbPN
ALGORITMO_JWT=HS256
MINUTOS_EXPIRACION_TOKEN=60

# Verificacion de identidad
SAL_DOCUMENTO=reemplazar_por_una_clave_generada
PROVEEDOR_IDENTIDAD=simulado